@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
}

.div_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_colwrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.price_x {
  font-size: 10px;
}

.total_left {
  float: left;
}

.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
  height: 100px;
}
.header__form {
  display: flex;
}
.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_horizontal {
  width: 1600px;
}
.container__left {
  margin-left: 235px;
}
.container__right {
  margin-right: 231px;
  position: relative;
}

.search__browse {
  justify-content: center;
  width: 87px;
  height: 38px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  position: relative;
}
.search__browse:hover .search__drop {
  display: flex;
}
.search__button {
  width: 40px;
  height: 40px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}
.search__drop {
  display: none;
  position: absolute;
  top: 36px;
  left: -1px;
  height: 560px;
}
.search__drop::after {
  top: -14px;
  left: 65px;
}
.search__drop::before {
  top: -18px;
  left: 63px;
}
.search__text {
  padding-left: 16px;
  width: 264px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  height: 38px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.logo {
  width: 168px;
  text-decoration: none;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 37px;
}
.logo_1 {
  font-weight: 300;
  letter-spacing: 0.68px;
}
.logo_2 {
  color: #f16d7f;
  font-weight: 400;
  letter-spacing: 0.68px;
}
.logo__img {
  margin-right: 13px;
}

.cart__img {
  margin-right: 26px;
  padding-top: 9px;
  z-index: 1;
}
.cart__img_red {
  margin-right: 15px;
}
.cart__img_red svg {
  fill: #ef5b70;
}
.cart__check {
  /* Style for "Checkout" */
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #f16d7f;
  width: 225px;
  height: 50px;
  margin-bottom: 11px;
}
.cart__total, .shipping_form__h1 {
  display: flex;
  justify-content: space-between;
  /* Style for "TOTAL" */
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.cart__product {
  width: 230px;
  height: 102px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 16px;
  margin-bottom: 16px;
  position: relative;
}
.cart__prod_title {
  /* Style for "Rebox Zane" */
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 86px;
}
.cart__prod_price {
  /* Style for "1  x   $25" */
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  top: 54px;
  left: 87px;
}
.cart__prod_del {
  /* Style for "пЃ—" */
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 35px;
}
.cart__prod_stars {
  position: absolute;
  top: 30px;
  left: 87px;
}
.cart__container {
  text-decoration: none;
}
.cart__container:hover .drop__cart {
  display: flex;
}

.my_account, .button_login {
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  height: 38px;
  width: 130px;
}
.my_account:hover .drop__account, .button_login:hover .drop__account {
  display: flex;
}
.my_account__fa_caret {
  font-size: 14px;
  font-weight: 400;
  margin-left: 8px;
}
.my_account__button_active, .my_account__button_inactive {
  margin-bottom: 15px;
  font-size: 14px;
  color: #f16d7f;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #f16d7f;
  width: 65px;
  padding: 10px;
}
.my_account__button_inactive {
  color: #4a4a4a;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}
.my_account__label {
  justify-content: space-between;
  width: 235px;
  margin-bottom: 10px;
}
.menu {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  list-style: none;
}
.menu__link {
  display: block;
  padding: 20px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.menu__list {
  position: relative;
}
.menu__list:hover .menu__drop {
  display: flex;
  position: absolute;
}
.menu__drop {
  display: none;
  height: 310px;
  width: 846px;
  top: 53px;
  left: -3px;
}
.menu__drop::before {
  top: -18px;
  left: 60px;
}
.menu__drop::after {
  top: -14px;
  left: 62px;
}
.menu__drop_last {
  left: unset;
  right: -470px;
}
.menu__drop_last::before {
  left: 351px;
}
.menu__drop_last::after {
  left: 353px;
}

.promo {
  background-color: #e8e8e8;
  height: 613px;
}
.promo__back {
  height: 100%;
  width: 100%;
  margin-left: 230px;
  justify-content: flex-start;
  background: url(img/Promo_img.png) no-repeat 0 -50px;
}
.promo__line {
  height: 92px;
  width: 12px;
  background-color: #f16d7f;
  margin-right: 12px;
}
.promo__text {
  color: #222222;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
.promo__text_min {
  letter-spacing: 1px;
}
.promo__text_big {
  font-size: 60px;
  letter-spacing: 1.5px;
}
.promo__text_red {
  color: #f16d7f;
}

.category {
  margin-top: 88px;
}
.category_flex {
  flex-direction: column;
  flex-wrap: wrap;
  width: 1160px;
  height: 843px;
}
.category__men {
  background-image: url(img/Categoty_img_men.png);
  width: 560px;
  height: 542px;
}
.category__women {
  width: 560px;
  height: 261px;
}
.category__women {
  background-image: url(img/Categoty_img_women.png);
}
.category__kids {
  background-image: url(img/Categoty_img_kids.png);
  width: 560px;
  height: 542px;
}
.category__accesories {
  background-image: url(img/Categoty_img_acc.png);
  width: 560px;
  height: 261px;
}
.category__margin {
  margin: 10px;
  display: flex;
  align-items: flex-start;
}
.category__margin:hover .category__name {
  transform: translate(25%) scale(1.3);
}
.category__name {
  background-color: #ffffff;
  margin-top: 26px;
  padding: 16px 19px;
  color: #222222;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 2s;
}
.category__name_1 {
  letter-spacing: 0.45px;
}
.category__name_2 {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
}

.product__element {
  display: block;
  position: relative;
  width: 261px;
  margin-bottom: 39px;
}
.product__element:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.product__element:hover .product__img {
  filter: brightness(50%);
}
.product__element:hover .product__add {
  display: flex;
}
.product__stars {
  position: absolute;
  right: 1px;
  bottom: 1px;
}
.product__content {
  position: relative;
  display: block;
}
.product__add {
  position: absolute;
  top: 98px;
  left: 70px;
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  width: 123px;
  height: 39px;
}
.product__name {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 14px;
  margin-top: 20px;
}
.product__name_cart {
  margin-left: 21px;
  margin-top: 13px;
}
.product__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 14px;
  margin-top: 17px;
  margin-bottom: 21px;
}
.product__prop {
  margin-left: 21px;
  margin-top: 38px;
}
.product__prop_value {
  color: #6f6e6e;
  font-weight: 300;
}

.products {
  flex-direction: column;
  margin-top: 100px;
}
.products__h2 {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}
.products__h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
}
.products__button, .checkout_form__submit {
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  width: 212px;
  height: 48px;
  text-align: center;
}
.products__box {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
.products__box_x3 {
  width: 848px;
}
.products__box_x4 {
  width: 1139px;
}
.products__header {
  flex-direction: column;
}

.feature {
  margin-top: 113px;
}
.feature__offer {
  background: no-repeat url(img/Feature_img.png);
  width: 767px;
  height: 529px;
}
.feature__text {
  margin-top: 146px;
  margin-left: 39px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}
.feature__text_1 {
  font-size: 54px;
  letter-spacing: 1.5px;
}
.feature__text_2 {
  color: #f16d7f;
}
.feature__text_3 {
  font-size: 32px;
  letter-spacing: 0.9px;
}

.marketing {
  width: 373px;
  height: 415px;
  padding-bottom: 66px;
  padding-top: 48px;
  background-color: #222224;
  flex-direction: column;
  justify-content: space-around;
}
.marketing_mini {
  width: 1600px;
  height: 341px;
  background-color: #222224;
}
.marketing__header {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: absolute;
  top: 8px;
  left: 113px;
}
.marketing__text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  width: 219px;
  position: absolute;
  top: 42px;
  left: 111px;
}
.marketing__container {
  position: relative;
  width: 373px;
  height: 100px;
}
.marketing__img {
  position: absolute;
  left: 36px;
}

.subscribe {
  height: 438px;
  width: 100%;
}
.subscribe__back {
  background: url(img/Sub_back_2.png) no-repeat 9px, url(img/Sub_back_1.png) no-repeat 9px;
  width: 1618px;
  height: 438px;
  justify-content: flex-start;
  align-items: flex-start;
}

.story__text {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
  margin-top: 5px;
  margin-left: 28px;
  width: 420px;
}
.story__name {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}
.story__city {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
}
.story__img {
  width: 83px;
  height: 83px;
}
.story__nick {
  margin-top: 16px;
  margin-left: 113px;
  margin-right: 370px;
}
.story__line {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}
.story__line_active {
  background-color: #f16d7f;
}
.story__check {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin-left: 114px;
  margin-top: 41px;
}

.form__box {
  margin-top: 63px;
  margin-bottom: 79px;
  display: flex;
}
.form__email {
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  height: 46px;
  padding-left: 28px;
  width: 254px;
  border: none;
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}
.form__button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  width: 104px;
  height: 46px;
  border: none;
}
.form__header {
  width: 100%;
  text-align: center;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 35px;
}

.sub__story {
  margin-top: 111px;
  margin-left: 230px;
  width: 570px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.sub__form {
  flex-wrap: wrap;
  margin-top: 148px;
  margin-left: 92px;
}
.sub__text1 {
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.sub__text2 {
  letter-spacing: 0.35px;
}

.test_area {
  width: 500px;
  height: 500px;
  border-width: 1px;
  display: none;
}

.browse__fa_caret {
  color: #838383;
  font-size: 14px;
  font-weight: 400;
  margin-left: 8px;
}
.browse__drop_arrow {
  position: absolute;
  z-index: 2;
  /* Style for "Shape 3" */
  /*background-color: #ffffff*/
  top: -6px;
  left: 67px;
}

.footer {
  margin-top: 109px;
  display: flex;
  justify-content: flex-start;
}
.footer__brand {
  margin-left: 229px;
  width: 427px;
}
.footer__category {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  list-style: none;
}
.footer__link {
  display: block;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: none;
  margin-top: 23px;
}
.footer__nav {
  margin-left: 64px;
  margin-top: 14px;
  width: 608px;
  display: flex;
  justify-content: space-between;
}
.footer__category_name {
  margin-bottom: 40px;
  display: block;
}

.brand__text {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 24px;
  margin-top: 29px;
}

.nav__company {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.copyright {
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
  margin-top: 89px;
}
.copy__text {
  /* Style for "В© 2017  Br" */
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  /* Text style for "В©,  2017" */
  letter-spacing: 0.4px;
}
.copy__social {
  width: 192px;
  display: flex;
  justify-content: space-between;
}

.social__border {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  /* Style for "пѓЎ" */
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400;
  /* Text style for "пѓЎ," */
  letter-spacing: 0.4px;
}
.social__borderhover {
  background-color: #f16d7f;
  color: #f7f7f8;
}

.drop {
  /* Style for "Rounded Re" */
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
  /* Style for "Background" */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #e9e9e9;
  z-index: 1;
}
.drop::before {
  top: -18px;
  content: "";
  border: 9px solid transparent;
  border-bottom: 9px solid #e9e9e9;
  position: absolute;
}
.drop::after {
  top: -14px;
  content: "";
  border: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
  position: absolute;
}
.drop__h3 {
  /* Style for "Women" */
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "W, omen" */
  letter-spacing: 0.35px;
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
}
.drop__link {
  /* Style for "Dresses To" */
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  /* Text style for "Dresses ," */
  letter-spacing: 0.35px;
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
}
.drop__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.drop__img {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.drop__img_text {
  /* Style for "Super  sal" */
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "S, uper  ," */
  letter-spacing: 0.55px;
  position: absolute;
  right: 31px;
  bottom: 31px;
}
.drop__cart {
  display: none;
  position: absolute;
  top: 35px;
  left: -37px;
  margin: 20px;
}
.drop__cart::after {
  left: 28px;
}
.drop__cart::before {
  left: 26px;
}
.drop__account {
  display: none;
  position: absolute;
  color: black;
  top: 19px;
  right: -21px;
  margin: 20px;
  width: max-content;
}
.drop__account::after {
  right: 15px;
}
.drop__account::before {
  right: 13px;
}

.button {
  cursor: pointer;
}
.button_goto {
  /* Style for "Go to cart" */
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  /* Style for "Rectangle" */
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  width: 225px;
  height: 50px;
}
.button_goto_quote {
  width: 100px;
  height: 35px;
  font-size: 11px;
}
.button_goto_coupon {
  width: 118px;
  height: 35px;
  font-size: 11px;
}
.button_login {
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
}

.new__flex {
  background-color: #f8f3f4;
  display: flex;
  padding: 65px 230px;
  justify-content: space-between;
}
.new_arr {
  background-color: #f8f3f4;
  width: 100%;
}
.new_left {
  /* Style for "New Arriva" */
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.new_right {
  /* Style for "Home / Men" */
  font-size: 14px;
  text-transform: uppercase;
  /* Text style for "Home / Men" */
  color: #636363;
  font-weight: 300;
}
.new_right_active {
  /* Text style for "New Arriva" */
  color: #f16d7f;
  font-weight: 700;
}

.carousel {
  /* Style for "Rectangle" */
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  position: relative;
  justify-content: space-between;
  padding-top: 11px;
  margin-bottom: 763px;
}
.carousel__arrow {
  background-color: #2a2a2a;
  /* Style for "п„„" */
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  filter: opacity(50%);
  height: 47px;
  width: 47px;
}
.carousel__description {
  position: absolute;
  top: 690px;
  left: 230px;
  width: 1140px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  /* Style for "Background" */
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-top: 73px;
  padding-bottom: 122px;
  z-index: 1;
}

.prod__collection {
  /* Style for "WOMEN COLL" */
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 34px;
}
.prodname {
  /* Style for "Moschino C" */
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 67px;
}
.prodtext {
  /* Style for "Compelling" */
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  width: 618px;
  margin-bottom: 28px;
  text-align: center;
}
.prodproperties {
  display: flex;
  justify-content: space-between;
  width: 334px;
  margin-bottom: 37px;
}
.prodprice {
  /* Style for "$561" */
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 43px;
  border-bottom: 1px solid #eaeaea;
  width: 642px;
  text-align: center;
  margin-bottom: 63px;
}
.prodchoose {
  width: 538px;
  display: flex;
  justify-content: space-between;
  /* Style for "CHOOSE COL" */
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.prodadd {
  /* Style for "Rectangle" */
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  /* Style for "Add to Car" */
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  width: 537px;
  height: 55px;
}

.prop__prop {
  /* Style for "MATERIAL:" */
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.propvalue {
  /* Text style for "COTTON" */
  color: #2f2f2f;
}

.choose__color_sign {
  width: 12px;
  height: 12px;
  margin-right: 11px;
  background-color: #ef5b70;
}
.choose__container {
  width: 144px;
  height: 61px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.choose__dropsign {
  font-size: 14px;
}
.choose__box, .shipping_form__box {
  width: 118px;
  height: 33px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 9px;
}
.choose__box::-webkit-input-placeholder, .shipping_form__box::-webkit-input-placeholder {
  color: #b1b1b1;
}
.choose__box::-moz-placeholder, .shipping_form__box::-moz-placeholder {
  color: #b1b1b1;
}
.choose__box:-ms-input-placeholder, .shipping_form__box:-ms-input-placeholder {
  color: #b1b1b1;
}
.choose__box_cart {
  width: 54px;
  height: 30px;
  padding: 0;
  text-align: center;
}
.choose__box_cart::-webkit-outer-spin-button, .choose__box_cart::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.choose__box_ship {
  margin-bottom: 20px;
  width: 335px;
  box-sizing: border-box;
}

.also {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 34px;
}
.also__header {
  /* Style for "you may li" */
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.shop_table {
  margin-top: 90px;
  color: #222222;
  font-size: 13px;
  flex-direction: column;
}
.shop_table__flex {
  width: 1140px;
}
.shop_table__details {
  width: 510px;
}
.shop_table__action {
  width: 50px;
}
.shop_table__property {
  width: 145px;
}
.shop_table__header {
  text-transform: uppercase;
  height: 12px;
  letter-spacing: -0.2px;
  font-weight: 700;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 22px;
}
.shop_table__prodline {
  text-transform: uppercase;
  display: flex;
  padding-bottom: 25px;
  margin-bottom: 26px;
  border-bottom: 1px solid #eaeaea;
}
.shop_table__details {
  height: 115px;
}

.shipping_form {
  margin-right: 35px;
}
.shipping_form__h1 {
  margin-bottom: 22px;
}
.shipping_form__h2 {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 24px;
}
.shipping_form__box {
  margin-bottom: 20px;
}
.shipping_form__submit {
  margin-top: 5px;
}

.checkout_form {
  padding: 40px;
  background-color: #f5f3f3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.checkout_form__h1 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 22px;
  margin-bottom: 17px;
  border-bottom: 1px solid #e2e2e2;
  width: 275px;
  display: flex;
  justify-content: flex-end;
}
.checkout_form__h1_active {
  color: #f16d7f;
}
.checkout_form__h2 {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 14px;
  width: 275px;
  display: flex;
  justify-content: flex-end;
}
.checkout_form__submit {
  text-transform: uppercase;
  width: 273px;
  height: 50px;
}

/*# sourceMappingURL=style.css.map */
