#AddDefaultCharset UTF-8
#DirectoryIndex index.php index.html
#
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule \.(php|htm|swf|fla|xml|ico|jpg|gif|png|js|css)$ - [L]

RewriteRule . index.php